{% extends "public/label.html" %}
{% block headcss %}
{% endblock %}
{% block info %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-3">
            <div class="search-form">
                <form action="" method="post">
                    <div class="input-group">
                        <input type="text" placeholder="输入代码" name="code" class="form-control input-s-lg">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                Add or Del
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if param %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>{{ param.0.trading_day|date:"Y-m-d" }}</h3>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>NO.</th>
                            <th>代码</th>
                            <th>名称</th>
                            <td>地域</td>
                            <td>次新</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in param %}
                            <tr>
                                <td><a href="?code={{ i.exchange }}{{ i.code }}">{{ i.id }}</a></td>
                                <td>{{ i.code }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.region }}</td>
                                {% if i.new == 1 %}
                                    <td>近端次新({{ i.listed_time |date:"Y-m-d" }})</td>
                                {% elif i.new == 2 %}
                                    <td>远端次新({{ i.listed_time |date:"Y-m-d" }})</td>
                                {% else %}
                                    <td>否</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-lg-12">#}
{#            <div class="ibox float-e-margins">#}
{#                <div class="ibox-content">#}
{#                    <div id="container" style="height:400px;"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    {% else %}
        <h2>{{ code_name }}</h2>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="/static/components/js/plugins/echarts/echarts.min.js"></script>
{% endblock %}