{% extends "public/label.html" %}
{% block headcss %}
{% endblock %}
{% block info %}
    <meta http-equiv="refresh" content="60">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-3">
            <div class="search-form">
                <form action="?code=" method="get">
                    <div class="input-group">
                        <input type="text" placeholder="输入代码" name="code" class="form-control input-s-lg">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if param %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>{{ code }} ({{ code_name }})</h3>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>交易日</th>
                            <th>开盘</th>
                            <th>收盘</th>
                            <th>最高</th>
                            <th>最底</th>
                            <th>均价</th>
                            <th>交易量(亿)</th>
                            <th>换手率</th>
                            <th>主买率</th>
                            <th>主净流入(万)</th>
                            <th>散净流入(万)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in param %}
                        <tr>
                            <td>{{ i.trading_day|date:"Y-m-d" }}</td>
                            <td>{{ i.open }}</td>
                            <td>{{ i.close }}</td>
                            <td>{{ i.high }}</td>
                            <td>{{ i.low }}</td>
                            <td>{{ i.average }}</td>
                            <td>{{ i.hand_number }}</td>
                            <td>{{ i.turnover_rate }}</td>
                            <td>{{ i.bidding_rate }}</td>
                            <td>{{ i.main_amount }}</td>
                            <td>{{ i.loose_amount }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div id="container" style="height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
                <div class="ibox-content">
                    <div id="main" style="height:400px;"></div>
            </div>
        </div>
    </div>
    {% else %}
        <h2>{{ code_name }}</h2>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="/static/components/js/plugins/echarts/echarts.min.js"></script>
    <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var colors = ['#d14a61', '#5793f3'];
        option = {
            title: {
                text: '资金流入(万)'
            },
            color: colors,

            tooltip: {
                trigger: 'none',
                axisPointer: {
                    type: 'cross'
                }
            },
            legend: {
                data:['主力', '散户']
            },
            grid: {
                top: 70,
                bottom: 50
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLine: {
                        onZero: false,
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    axisPointer: {
                        label: {
                            formatter: function (params) {
                                return '主力  ' + params.value
                                    + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                            }
                        }
                    },
                    data: {{ flow_data.time_data|safe }}
                },
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLine: {
                        onZero: false,
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    axisPointer: {
                        label: {
                            formatter: function (params) {
                                return '散户  ' + params.value
                                    + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                            }
                        }
                    },
                    data: {{ flow_data.time_data|safe }}
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name:'主力',
                    type:'line',
                    smooth: true,
                    data: {{ flow_data.main.into }}
                },
                {
                    name:'散户',
                    type:'line',
                    xAxisIndex: 0,
                    smooth: true,
                    data: {{ flow_data.retail.into }}
                },

            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var colors = ['#d14a61', '#5793f3'];
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '资金统计(万)'
            },
            color: colors,
            xAxis: [
                {
                    data: ["主力", "散户"],
                }
            ],
            yAxis: {
                show: false,
            },
            series: [{
                name: '流入',
                type: 'bar',
                label: {
                    normal: {
                        show: true,
                        position: 'top',
                    }
                },
                data: {{ total_flow.into }}
            },
                {
                name: '流出',
                type: 'bar',
                label: {
                    normal: {
                        show: true,
                        position: 'top',
                    }
                },
                data: {{ total_flow.out }}
            }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}